<launch>
    <!-- 把模型目录加入 GAZEBO_MODEL_PATH；如果环境里没有设，$(optenv ...) 会返回空串 -->
    <!-- <env name="GAZEBO_MODEL_PATH" value="$(find test_ctrl)/../../models:$(optenv GAZEBO_MODEL_PATH)"/> -->

    <!-- 把 URDF 文本加载到 ROS 参数服务器，插件会从 /robot_description 读取 -->
    <!-- <param name="robot_description" textfile="$(find test2_pkg)/urdf/test2_pkg.urdf"/> -->
    <param name="robot_description" textfile="$(find test_ctrl)/urdf/test2_control.urdf"/>

    <!-- 启动带 ROS 支持的空世界 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

    <!-- 使用绝对/相对路径，显式 -file -sdf -model 并把模型放置在指定位置 -->
    <node name="spawn_test2" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(find test_ctrl)/../../models/test2/model_pro.sdf -sdf -model test2 -x 0 -y 0 -z 1 -R 0 -P 0 -Y 0"/>
</launch>